doctype
html
  head
    title React JS homework
  body
    #content!= content
    script(src='https://fb.me/react-0.14.0.js')
    script(src='https://fb.me/react-dom-0.14.0.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
    script(src='http://code.jquery.com/jquery-2.1.3.js')
    script(id='initData' type='application/json')!=initData
    script(src='/components.js', type='text/babel') 

